body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #root {
    width: 100%;
    height: 100%;
  }
  
  .bell-button {
    position: fixed;
    bottom: 60px;
    right: 20px;
    background-color: #cf0b0b;
    border: none;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .bell-button svg {
    fill: white;
    width: 20px;
    height: 20px;
  }
  
  .bell-button:hover {
    background-color: #c71111;
  }
  